@{
    ViewBag.Title = "Контактная информация";
}

<h2>Контакты</h2>

<address>
    Город<br />
    Улица<br />
    <abbr title="Телефон">Тел:</abbr>
    425.555.0100
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>